<style>
#wrapper-copyright {
  display: none;
}

#main-container-footer{
  display: none;
}
</style>

<%= form_for(@poem) do |f| %>
  <% if @poem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poem.errors.count, "error") %> prohibited this poem from being saved:</h2>

      <ul>
      <% @poem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, placeholder: 'Writers Name', class: "form-control" %><br>
    
    <%= f.label :title %><br>
    <%= f.text_field :title, placeholder: 'The Journey', class: "form-control" %><br>
    
    <%= f.label :image %><br>
    <%= f.text_field :header_image, placeholder: 'Recommended  800 x 500 | http://www.google.com/url_to_image.png', class: "form-control" %><br>
    
    <%= f.label :Share_Your_Poem %><br>
    <%= f.text_area :content, placeholder: '|... ', class: "form-control" %><br>

    <%= f.label :twitter %><br>
    <%= f.text_field :twitter_url, required: false, placeholder: 'http://www.lavail.io/profile-name | Optional', class: "form-control" %><br>
    
    <%= f.label :facebook %><br>
    <%= f.text_field :facebook_url, placeholder: 'http://www.facebook.com/profile-name | Optional', class: "form-control" %><br>
    
        <%= f.label :source %><br>
    <%= f.text_field :source, placeholder: 'http://www.facebook.com/profile-name | Optional', class: "form-control" %><br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
