<%= form_for(@startup) do |f| %>
  <% if @startup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@startup.errors.count, "error") %> prohibited this startup from being saved:</h2>

      <ul>
      <% @startup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name, placeholder: 'Aris Nance', class: "form-control" %><br>
    
    <%= f.label :Who_is_the_founder? %><br>
    <%= f.text_field :founder, placeholder: 'Aris Nance', class: "form-control" %><br>
    
    <%= f.label :location %><br>
    <%= f.text_field :location, placeholder: 'Aris Nance', class: "form-control" %><br>
    
    <%= f.label :Logo %><br>
    <%= f.text_field :option_url, placeholder: 'Recommended  800 x 500 | http://www.lavail.io/url_to_person_image.png', class: "form-control" %><br>
    
    <%= f.label :Summary_of_Product %><br>
    <%= f.text_area :summary, placeholder: 'Whats their Story?', class: "form-control" %><br>
    
    <%= f.label :twitter %><br>
    <%= f.text_field :twitter_url, placeholder: 'http://www.lavail.io/ArisNance', class: "form-control" %><br>
    
    <%= f.label :facebook %><br>
    <%= f.text_field :facebook_url, placeholder: 'http://www.facebook.com/ArisNance', class: "form-control" %><br>
    
    <%= f.label :Website %><br>
    <%= f.text_field :web_url, placeholder: 'https://www.linkedin.com/in/arisnance/', class: "form-control" %><br>
  
    <%= f.label :Team_Member %><br>
    <%= f.text_field :team_two, placeholder: 'Honors, Founder, Tedtalk.', class: "form-control" %><br>
    
    <%= f.label :Team_Member %><br>
    <%= f.text_area :team_three, placeholder: 'In your own words: ', class: "form-control" %><br>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
