<style>
.container-fluid {
    width: 88%;
}
</style>
<body>
<%= render 'home/sidebar' %>
<div class="wrapper">


    <div class="main-panel">

<!--header-->

<div class="content">
  <div class="container-fluid">
      <div class="row">
                <!--permanent card-->
    <div class="col-lg-3 col-sm-6">
<div class="card">
    <div class="content">
        <div class="row">
          
            <div class="col-xs-5">
                <div class="icon-big icon-warning text-center">
                <%= image_tag('mints-logo.png') %>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="numbers">
                    <p>Post your story</p>
                    <br>
                    
                </div>
            </div>
        </div>
        <div class="footer">
            <hr />
            <div class="stats">
                <%= link_to new_story_path do %><i style="font-size: 30px; .part-info-image {
}" class="fa fa-plus-circle" title="Post an story"></i><% end %>
            </div>
        </div>
    </div>
</div>
</div>
        <!--end-->
   
        <% @startups.each do |startup| %>
          <div class="col-lg-3 col-sm-6">
              <div class="card">
                  <div class="content">
                      <div class="row">
                        
                          <div class="col-xs-5">
                              <div class="icon-big icon-warning text-center">
                              <%= image_tag(startup.option_url, class: 'post-logo') %>
                              </div>
                          </div>
                          <div class="col-xs-7">
                              <div class="numbers">
                                  <p><%= link_to startup.company_name, startup.web_url, target: "_blank", title: "Visit Site"  %></p>
                                  <br>
                                  <%= link_to startup.facebook_url, target: '_blank' do %><i style="font-size: 20px;" class="fa fa-facebook" title="Visit Page"></i><% end %>
                                  <%= link_to startup.twitter_url, target: '_blank' do %><i style="font-size: 20px;" class="fa fa-twitter" title="Visit Page"></i><% end %>
                              </div>
                          </div>
                      </div>
                      <div class="footer">
                          <hr />
                          <div class="stats">
                              <span> <%= startup.location %></span> 
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
          <!--job listings-->
        <% end %>
      </div>

<%= will_paginate @startup %>
        </div>
    </div>




</div>
</div>


</body>

<!--   Core JS Files   -->
<%= javascript_include_tag 'jquery_1.10.2.js' %>

<%= javascript_include_tag 'bootstrap.min.js' %>

<!--  Checkbox, Radio & Switch Plugins -->
<%= javascript_include_tag 'bootstrap_checkbox_radio.js' %>
<!--  Charts Plugin -->
<%= javascript_include_tag 'chartist.min.js' %>
<!--  Notifications Plugin    -->
<%= javascript_include_tag 'bootstrap_notify.js' %>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<%= javascript_include_tag 'paper_dashboard.js' %>
<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<%= javascript_include_tag 'demo.js' %>


</html>
