<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse">

                <form class="navbar-form navbar-left navbar-search-form" role="search">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="text" value="" class="form-control" placeholder="Search...">
                    </div>
                </form>

                <div class="dropdown">
              <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                  Menu
                  <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <!--<li><a href="#paper">About Mints</a></li>-->
                <!--<li><a href="#paper">Another action</a></li>-->
                <!--<li><a href="#paper">Something else here</a></li>-->
                <li class="divider"></li>
                <% if user_signed_in? %>
                <li><a href="#paper">Logout</a></li>
                <li><%= link_to 'Add Event', new_event_path %></li>
                <li><%= link_to 'Post Job', new_event_path %></li>
                <li><%= link_to 'Directory Submission', new_event_path %></li>
                <li class="divider"></li>
                <% else %>
                <li><a href="#paper">Login</a></li>
                <% end %>
              </ul>
        </div>
            </div>
        </div>
    </nav>

<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<%= javascript_include_tag 'paper_dashboard.js' %>
<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<%= javascript_include_tag 'demo.js' %>
