
<html>

<head>
 
<style>
	.img-fluid {
	width: 440px;
	height: 330px;
}
</style>
 

  


</head>

<body>

<a name="ancre"></a>

<!-- CACHE -->
<div class="cache"></div>

<!-- HEADER -->


<!-- NAVBAR -->

 
<!--moved to partial-->
 

  

<!-- FILTER -->	

	<div id="main-container-menu" class="object">
    	<div class="container-menu">
        	
            <div id="main-cross">
            	<div id="cross-menu"></div>
            </div>
            
            <div id="main-small-logo">
            	<div class="small-logo"></div>
            </div>
            
            <div id="main-premium-ressource">
                <div class="premium-ressource"><a href="#">Premium resources</a></div>
            </div>
            
            <div id="main-themes">
                <div class="themes"><a href="#">Latest themes</a></div>
            </div>
            
            <div id="main-psd">
                <div class="psd"><a href="#">PSD goodies</a></div>
            </div>
                
            <div id="main-ai">
                <div class="ai"><a href="#">Illustrator freebies</a></div>
            </div>
            
            <div id="main-font">
                <div class="font"><a href="#">Free fonts</a></div>
            </div>
            
            <div id="main-photo">
                <div class="photo"><a href="#">Free stock photos</a></div>
            </div>
            
        </div>
    </div>


<!-- PORTFOLIO -->

	<div id="wrapper-container">
    
		<div class="container object">

			<div id="main-container-image">
                       
					<section class="work">
 
						<!--permanent card -->
						<figure class="white">
							<a href="#">
								<%= image_tag "/assets/mint-history" %>
								<dl>
									<!--<dt></dt>-->
									<dd>Because <strong>Black Heritage</strong> should not be resurrected, remembered, and celebrated once a year. This section is dedicated to showing our community prominent Black figures throughtout history past and present. Give back by contributing.</dd>	
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><%= link_to new_pin_path do %><i style="font-size: 30px;" class="fa fa-plus-circle" title="Add to History"></i><% end %></div>
                            	<div id="part-info"> </div>
							</div>
							<!--permanent card end-->
						</figure>	
						<% @pins.each do |pin| %>
						<figure class="white">
							<a href="#" style="text-decoration: none;pointer-events: none; cursor: default;">
								<%= image_tag(pin.image_url, class: 'img-fluid') %>
								<dl>
									<dt><%= link_to pin.title, pin %></dt>
									<dd><%= truncate(pin.description, length: 200) { link_to "Continue", pin } %></dd>	
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<!--<div class="part-info-image"><img src="assets/icon-psd.svg" alt="" width="28" height="28"/></div>-->
                            	<div id="part-info"><%= pin.title %></div>
							</div>
                        </figure>	
						<% end %>
					</section>
                    
				</div>	
            	    
			</div>
         
    <div id="wrapper-oldnew">
    	<div class="oldnew">
        	<div class="wrapper-oldnew-prev">
            	<div id="oldnew-prev"></div>
        	</div>
            <div class="wrapper-oldnew-next">
            	<div id="oldnew-next"></div>
    		</div>
        </div>
	</div>     
 
    	</div>
	</div>


  
</div>



<!-- SCRIPT -->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--<script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>-->
    <!--<script type="text/javascript" src="js/jquery.localScroll.min.js"></script>-->
	<!--<script type="text/javascript" src="js/fastclick.min.js"></script>-->
 
	<!--<script type="text/javascript" src="js/jquery.animate-colors-min.js"></script>-->

	
<script>
	

 
	<script type="text/javascript" src="js/jquery.animate-colors-min.js"></script>

	
	<script>
	




/* PRELOADER */

// function preloader() {
// 	if (document.images) {
// 		var img1 = new Image();
// 		var img2 = new Image();
// 		var img3 = new Image();
// 		var img4 = new Image();
// 		var img5 = new Image();
// 		var img6 = new Image();
// 		var img7 = new Image();
// 		var img8 = new Image();
// 		var img9 = new Image();
// 		var img10 = new Image();
// 		var img11 = new Image();
// 		var img12 = new Image();
// 		var img13 = new Image();
// 		var img14 = new Image();
// 		var img15 = new Image();
// 		var img16 = new Image();
// 		var img17 = new Image();
// 		var img18 = new Image();
// 		var img19 = new Image();
// 		var img20 = new Image();

// 		img1.src = "assets/psd-4.jpg";
// 		img2.src = "assets/font-1.jpg";
// 		img3.src = "assets/psd-1.jpg";
// 		img4.src = "assets/psd-2.jpg";
// 		img5.src = "assets/ai-1.jpg";
// 		img6.src = "assets/theme-2.jpg";
// 		img7.src = "assets/psd-3.jpg";
// 		img8.src = "assets/font-2.jpg";
// 		img9.src = "assets/font-3.jpg";
// 		img10.src = "assets/ai-2.jpg";
// 		img11.src = "assets/icons-1.jpg";
// 		img12.src = "assets/ui-1.jpg";
// 		img13.src = "assets/font-5.jpg";
// 		img14.src = "assets/theme-2.jpg";
// 		img15.src = "assets/psd-5.jpg";
// 		img16.src = "assets/icons-3.jpg";
// 		img17.src = "assets/font-4.jpg";
// 		img18.src = "assets/theme-3.jpg";
// 		img19.src = "assets/font-6.jpg";
// 		// img20.src = "assets/theme-4.jpg";
// 	}
// }
// function addLoadEvent(func) {
// 	var oldonload = window.onload;
// 	if (typeof window.onload != 'function') {
// 		window.onload = func;
// 	} else {
// 		window.onload = function() {
// 			if (oldonload) {
// 				oldonload();
// 			}
// 			func();
// 		}
// 	}
// }
// addLoadEvent(preloader);

  
</script>


</body>


</html>
