<style>
#main-container-footer {
  display: none;
}

#wrapper-copyright {
  display: none;
}
</style>
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Organizer_or_Organization %><br>
    <%= f.text_field :organizer, placeholder: 'Latino Community Fund', class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Event_Title %><br>
    <%= f.text_field :name, placeholder: 'Lets try to keep it short ', class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city, placeholder: 'Seattle', class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :Venue %><br>
    <%= f.text_field :location, placeholder: 'Event Venue e.g Impact Hub', class: "form-control" %>
  </div>
  
  <!--mints Gallery-->
    <div id="page-head-text-hide-on-mobile">
    <!--<hr style="border-top: 1px solid #00d49b;">-->
    <%= link_to home_photos_path, target: "_blank" do %><i style="font-size: 25px;" class="fa fa-camera" title="mints Gallery"></i><% end %>
    <span style="margin-left: 16%;"><strong>Click</strong> to explore images in the mints gallery.</span>
    <br>
    <br>
    <!--<hr style="border-top: 1px solid #00d49b;">-->
    <br>
    </div>
   <!--end-->
  
  <div class="form-group">
    <%= f.label :Event_image %><br>
    <%= f.text_field :event_image, placeholder: 'Image Url | Recommended  800 x 500', class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :summary %><br>
    <%= f.text_area :summary, placeholder: 'Share details about your event', class: "form-control", :maxlength => 684, :size => 40 %>
  </div>
  <div class="form-group">
    <%= f.label :Short_description %><br>
    <%= f.text_area :description, placeholder: 'Provide a short description of the event | 187 Characters Max', :maxlength => 187, class: "form-control" %>
  </div>
    <br>
    <br>
    <%= f.label :Is_the_event_free_?, required: true %><br>
    <%= f.check_box :free, {}, true %> <%= f.label :free, "Free" %><br> 
    <%= f.check_box :free, {}, false %> <%= f.label :no, "Ticket Required" %><br>
    <br>
    <br>
  
  <div class="form-group">
    <%= f.label :link %><br>
    <%= f.text_field :web_url, placeholder: 'External Link', class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
