
<body>
<%= render 'home/sidebar' %>
<div class="wrapper">


    <div class="main-panel">

<!--header-->

<div class="content">
  <div class="container-fluid">
      <div class="row">
<!--permanent card-->
    <div class="col-lg-3 col-sm-6">
<div class="card">
    <div class="content">
        <div class="row">
          
            <div class="col-xs-5">
                <div class="icon-big icon-warning text-center">
                <%= image_tag('mints-logo.png') %>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="numbers">
                    <p>Post your Event</p>
                    <br>
                    
                </div>
            </div>
        </div>
        <div class="footer">
            <hr />
            <div class="stats">
                <%= link_to new_event_path do %><i style="font-size: 30px; .part-info-image {
}" class="fa fa-plus-circle" title="Post an Event"></i><% end %>
            </div>
        </div>
    </div>
</div>
</div>
<!--end-->
        <% @event.each do |event| %>
          <div class="col-lg-3 col-sm-6">
              <div class="card">
                  <div class="content">
                      <div class="row">
                        
                          <div class="col-xs-5">
                              <div class="icon-big icon-warning text-center">
                                
                              </div>
                          </div>
                          <div class="col-xs-7">
                              <div class="numbers">
                                  <p><%= truncate(event.name, length: 15) { link_to "more", event }  %></p>
                                  <br>
                                  <%= event.start_time.strftime("%b %d") %>
                              </div>
                          </div>
                      </div>
                      <div class="footer">
                          <hr />
                          <div class="stats">
                              </i><span> <%= event.location %></span>  <span>|</span>  <strong><%= event.city %></strong></span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!--job listings-->
        <% end %>
      </div>
      <%= will_paginate @event %>
        </div>
    </div>




</div>
</div>


</body>

<!--   Core JS Files   -->
<%= javascript_include_tag 'jquery_1.10.2.js' %>

<%= javascript_include_tag 'bootstrap.min.js' %>

<!--  Checkbox, Radio & Switch Plugins -->
<%= javascript_include_tag 'bootstrap_checkbox_radio.js' %>
<!--  Charts Plugin -->
<%= javascript_include_tag 'chartist.min.js' %>
<!--  Notifications Plugin    -->
<%= javascript_include_tag 'bootstrap_notify.js' %>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<%= javascript_include_tag 'paper_dashboard.js' %>
<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<%= javascript_include_tag 'demo.js' %>
<script type="text/javascript">
	$(document).ready(function(){

    	demo.initChartist();

    	$.notify({
        	icon: 'ti-gif',
        	message: "Explore Local Events or Post your own."

        },{
            type: 'success',
            timer: 100
        });

	});
</script>

</html>
