
<body>
<%= render 'home/sidebar' %>
<div class="wrapper">


<div class="main-panel">
<!--header-->
<div class="content">
  <div class="container-fluid">
      <div class="row">
<!--permanent card-->
    <div class="col-lg-3 col-sm-6">
<div class="card">
    <div class="content">
        <div class="row">
          
            <div class="col-xs-5">
                <div class="icon-big icon-warning text-center">
                <%= image_tag('mints-logo.png') %>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="numbers">
                    <p>Post your Event</p>
                    <br>
                    
                </div>
            </div>
        </div>
        <div class="footer">
            <hr />
            <div class="stats">
                <%= link_to new_event_path do %><i style="font-size: 30px; .part-info-image {
}" class="fa fa-plus-circle" title="Post an Event"></i><% end %>
            </div>
        </div>
    </div>
</div>
</div>
<!--end-->
        <% @event.each do |event| %>
          <div class="col-lg-3 col-sm-6">
              <div class="card">
                  <div class="content">
                      <div class="row">
                        
                          <div class="col-xs-5">
                              <div class="icon-big icon-warning text-center">
                                <%= image_tag(event.event_image, class: 'post-logo') %>
                              </div>
                          </div>
                          <div class="col-xs-7">
                              <div class="numbers">
                                  <p><%= link_to truncate(event.name, length: 25), event %></p>
                                  <br>
                                  <%= event.start_time.strftime("%b %d") %>
                              </div>
                          </div>
                      </div>
                      <div class="footer">
                          <hr />
                          <div class="stats">

                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!--job listings-->
        <% end %>
      </div>
      <%= will_paginate @event %>
        </div>
    </div>




</div>
</div>

</body>

</html>
<!-- current_user.events.count -->