<style>
#wrapper-copyright {
  display: none;
}

#main-container-footer{
  display: none;
}
</style>

<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Company_Name %><br>
    <%= f.text_field :facebook_url, required: true, placeholder: 'Organization or Company Name', class: "form-control" %>
    <br>
    <%= f.label :Job_title %><br>
    <%= f.text_field :title, placeholder: 'Community Director', class: "form-control" %>
    <br>
    <br>
    <!--mints Gallery-->
    
   <!--end-->
    <%= f.label :Company_Logo %><br>
    <%= f.text_field :header_image, placeholder: ' Transparent Recommended | http://www.lavail.io/url_to_logo.png', class: "form-control" %>
    <br>
    <%= f.label :Describe_your_job_posting %><br>
    <%= f.text_field :content, placeholder: '|... ', class: "form-control" %><br>
        
    <%= f.label :Company_Summary %><br>
    <%= f.text_field :description, placeholder: 'What is it you guys do?', class: "form-control" %><br>

    <%= f.label :Application_Link %><br>
    <%= f.text_field :twitter_url, required: false, placeholder: 'http://www.lavail.io/profile-name | Leave blank to remain anonymous', class: "form-control" %><br>
  
  </div>
  <div class="actions">
    <%= f.submit value: 'Post Job' %>
  </div>
<% end %>
