
<%= render 'home/sidebar' %>
<div class="wrapper">


<div class="main-panel">
<!--header-->

<div class="content">
<div class="container-fluid">
<div class="row">
          <!--permanent card-->
    <div class="col-lg-3 col-sm-6">
<div class="card">
    <div class="content">
        <div class="row">
          
            <div class="col-xs-5">
                <div class="icon-big icon-warning text-center">
                <%= image_tag('mints-logo.png') %>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="numbers">
                    <p>Post your Job</p>
                    <br>
                    
                </div>
            </div>
        </div>
        <div class="footer">
            <hr />
            <div class="stats">
                <%= link_to new_story_path do %><i style="font-size: 30px; .part-info-image {
}" class="fa fa-plus-circle" title="Post a Job"></i><% end %>
            </div>
        </div>
    </div>
</div>
</div>
<!--end-->
<% @stories.each do |story| %>
  <div class="col-lg-3 col-sm-6">
      <div class="card">
          <div class="content">
              <div class="row">
                
                  <div class="col-xs-5">
                      <div class="icon-big icon-warning text-center">
                        <%= image_tag(story.header_image, class: 'post-logo') %>
                      </div>
                  </div>
                  <div class="col-xs-7">
                      <div class="numbers">
                          <p><%= link_to story.title, story  %></p>
                          <br>
                          <%= truncate(story.facebook_url, length: 15) { link_to "more", story } %>
                      </div>
                  </div>
              </div>
              <div class="footer">
                  <hr />
                  <div class="stats">
                    <span> <%= story.created_at.strftime("%b %d") %></span>  <span>|</span><span class="job_type full_time" style="color: "><%= link_to 'APPLY', story, target: '_blank' %></span>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--job listings-->
<% end %>
</div>


        </div>
        <%= will_paginate @story %>
    </div>




</div>
</div>


</body>

<!--   Core JS Files   -->
<%= javascript_include_tag 'jquery_1.10.2.js' %>

<%= javascript_include_tag 'bootstrap.min.js' %>

<!--  Checkbox, Radio & Switch Plugins -->
<%= javascript_include_tag 'bootstrap_checkbox_radio.js' %>
<!--  Charts Plugin -->
<%= javascript_include_tag 'chartist.min.js' %>
<!--  Notifications Plugin    -->
<%= javascript_include_tag 'bootstrap_notify.js' %>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<%= javascript_include_tag 'paper_dashboard.js' %>
<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<%= javascript_include_tag 'demo.js' %>


</html>
